*{
  text-align: center;
}
.mainDiv{
  border: 2px solid #c3c3c3;
  align-content: center;
}
ul.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#nasaImage{
  height: 300px;
  width: 400px;
  border-radius: 20px;
  border: black solid 5px;
}
